body {
  font-family: Arial;
  background-color: #f2f2f2;
  padding: 30px;
}

h2 {
  color: #2c3e50;
}

input {
  padding: 8px;
}

button {
  padding: 8px;
  background: green;
  color: white;
  border: none;
}

li {
  background: white;
  margin: 5px;
  padding: 8px;
  list-style: none;
}
