apiVersion: v1
kind: ConfigMap
metadata:
  name: web-content
  namespace: default
data:
  index.html: |
    <html>
      <body>
        <h1>Version 1 - Deployed via ArgoCD GitOps</h1>
      </body>
    </html>
