apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: default
spec:
  replicas: 4
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:

      nodeSelector:
        kubernetes.io/hostname: gke-cluster-1-default-pool-477a13ea-f25w

      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
          volumeMounts:
            - name: todo-volume
              mountPath: /usr/share/nginx/html

      volumes:
        - name: todo-volume
          configMap:
            name: todo-web-content
